/* common styles */

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Cabin", sans-serif;
}

/* End of common styles */

/* Header */

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 65vh;
  width: 100%;
  margin: 0px;
  background: url(img/braden-collum-9HI8UJMSdZA-unsplash.jpg) no-repeat center /
    cover;
  text-align: center;
}

#logo-banner {
  color: white;
  background-color: #f07306c3;
  padding: 2rem;
  font-size: 4rem;
  margin: auto;
}

.banner .credits {
  color: rgb(192, 188, 188);
  margin: 1rem;
}

/* End of header */

/* Navigation */

.nav {
  margin: 0;
  background-color: black;
  width: 100%;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.nav-menu {
  display: flex;
  list-style: none;
  padding: 0;
  flex: 2 0 0;
  flex-wrap: nowrap;
  text-align: center;
}

.nav a {
  text-decoration: none;
  color: white;
  list-style: none;
  text-transform: uppercase;
}

.nav a:hover {
  color: #f07306;
}

.nav-logo {
  justify-content: flex-start;
  width: 20%;
}

#logo {
  color: #f07306;
  font-size: 1rem;
  font-weight: bold;
  flex: 1 10 0;
  justify-content: flex-start;
  cursor: pointer;
  width: 15%;
}

#logo:hover {
  color: white;
}

.nav-items {
  display: flex;
  width: 60%;
  justify-content: space-around;
}

.nav-user {
  width: 25%;
  justify-content: flex-end;
}

#login {
  color: #f07306;
  padding: 0.5rem 1rem;
}

#login:hover {
  color: white;
}

/* End of Navigation */

/* start dropdown */

.dropdown-nav {
  display: none;
  flex-direction: column;
  align-items: flex-end;
  margin: 0;
  position: sticky;
  top: 0;
}

.btn-dropdown {
  background-color: black;
  cursor: pointer;
  width: 100%;
  padding: 1rem 1rem;
  text-align: end;
  text-decoration: none;
  border: none;
}

.btn-dropdown a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.btn-dropdown a:hover {
  color: #f07306;
}

.dropdown-items {
  display: none;
  list-style-type: none;
  background-color: black;
  cursor: pointer;
  z-index: 1;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.show {
  display: flex;
  flex-direction: column;
}

.dropdown-item a {
  text-align: right;
  text-decoration: none;
  color: white;
  display: block;
  padding: 0.7rem 1rem;
}

.dropdown-item:hover {
  background-color: #f07306;
}
/* end dropdown */

/* start modal */
.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
  background-color: white;
  padding: 4rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.close-modal {
  position: absolute;
  top: 10%;
  left: 85%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: none;
  color: black;
  font-size: 2rem;
  cursor: pointer;
}

.close-modal:hover {
  color: rgba(255, 0, 0, 0.627);
}

label {
  display: block;
}

#btn-login {
  background-color: #f5923c;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 0.7rem 1.2rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

#btn-login:hover {
  background-color: #f07306;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

input {
  margin-top: 5px;
  padding: 6px;
  outline: none;
  background-color: white;
  border-radius: 5px;
}

input:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input.valid {
  border-color: rgb(1, 156, 63);
}

input.invalid {
  border-color: rgb(223, 48, 13);
}

input + p {
  font-size: 0.7rem;
  color: rgb(223, 48, 13);
  opacity: 0;
  height: 0;
}

input.invalid + p {
  opacity: 1;
  height: auto;
  margin-bottom: 1rem;
}

/* end modal */

main {
  margin: auto;
}

/* Highlights */

#highLights-section {
  width: 80%;
  margin: 5% auto;
}

.highLights-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.highlights {
  height: 18rem;
  padding: 1rem;
  background-color: #f6f6f6;
  width: 26%;
  box-shadow: 5px 5px 10px rgb(230, 229, 229);
}

.highlights:hover {
  background-color: #e8e8e8;
}

.highLights-img {
  width: 100%;
  margin: auto;
}

#highlight-hidden {
  display: none;
}

.credits {
  font-size: 0.5rem;
  margin-top: 0.2rem;
  text-align: right;
  color: grey;
}

/* End of highlights */

/* Players */
#players-section {
  color: #f07306;
  padding: 1.5rem;
  background-image: linear-gradient(to bottom, black, rgb(61, 61, 61));
}

#players-section h1 {
  margin: 2% 9% 5% 9%;
}

.players-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player {
  display: grid;
  width: 75%;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 0.5rem;
  padding: 1rem;
  color: black;
  background-color: #f6f6f6;
  margin-bottom: 1rem;
  align-items: center;
}

.photo {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  max-height: 5rem;
  justify-self: center;
}

.name {
  grid-column: 2 / 3;
  margin: 0;
}

.sport {
  text-transform: uppercase;
  color: #9e9e9e;
  grid-column: 2 / 3;
  grid-row: 2;
  margin: 0;
}

.flag {
  max-width: 3rem;
  grid-column: 3 / 4;
  grid-row: 1;
  margin: 0;
  justify-self: center;
}

.country-code {
  grid-column: 3/ 4;
  grid-row: 2;
  margin: 0;
  justify-self: center;
  font-size: 1.2rem;
  color: black;
}

/* End of players */

/* Medals */

#medals-section {
  background-color: #f6f6f6;
  padding: 1.5rem;
}

#medals-section h1 {
  margin: 4% 9% 3% 9%;
}

.medals-container {
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}

table {
  border-collapse: collapse;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  margin: 2% 9%;
  background-color: white;
  text-align: center;
}

th {
  color: white;
  background-color: #f07306;
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.7rem;
  font-weight: 900;
}

td {
  padding: 0.6rem 2rem;
}

tr:nth-child(even) {
  background-color: #fff8f1;
}

.gold {
  color: #cbaa03;
  font-weight: bold;
}

.silver {
  color: #9e9e9e;
  font-weight: bold;
}

.bronze {
  color: #cb7b60;
  font-weight: bold;
}

/* End of Medals */

/* Footer */

footer {
  color: white;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

footer ul {
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  flex: 1 1 0;
  list-style-type: none;
  justify-content: space-between;
}

footer a {
  font-size: 1.5rem;
  margin: 0 0.9rem;
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: #f07306;
  cursor: pointer;
}

footer p {
  text-align: center;
  font-size: 1rem;
}

#copy {
  text-align: center;
  font-size: 0.7rem;
}

/* End of footer */

/* Media Queries */

@media screen and (max-width: 2560px) {
  #logo-banner {
    padding: 3rem;
    font-size: 6rem;
  }

  .nav a {
    font-size: 1.2rem;
  }

  #logo {
    font-size: 1.2rem;
  }

  .highlights {
    height: 23rem;
    padding: 2rem;
    width: 20%;
  }

  #highlight-hidden {
    display: inline-block;
  }

  .player {
    width: 60%;
  }

  th {
    padding: 1.3rem 4rem;
    letter-spacing: 0.2rem;
    font-size: 1.2rem;
  }

  td {
    padding: 1rem 4rem;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1700px) {
  .highlights {
    padding: 1rem;
    height: 20rem;
  }

  th {
    padding: 1rem 1.5rem;
  }

  td {
    padding: 0.6rem 1.5rem;
  }
}

@media screen and (max-width: 919px) {
  .nav a {
    font-size: 0.8rem;
  }

  #logo {
    font-size: 0.8rem;
  }

  #highlight-hidden {
    display: none;
  }

  .highlights {
    height: 16rem;
    padding: 1rem;
    width: 26%;
  }
}

@media screen and (max-width: 760px) {
  .modal {
    width: 30%;
  }

  th {
    font-size: 0.6rem;
    padding: 1rem 0.9rem;
    line-height: 1rem;
  }

  td {
    font-size: 0.8rem;
    padding: 0.6rem 0.9rem;
  }

  footer a {
    font-size: 1rem;
  }

  footer p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 600px) {
  body {
    font-size: 0.9rem;
  }

  h1 {
    font-size: 1.1rem;
  }

  #logo-banner {
    padding: 1.5rem;
    font-size: 3rem;
  }

  .nav a {
    margin: 0 1%;
  }

  #highLights-section {
    margin-top: 2rem;
  }

  .highLights-container {
    flex-direction: column;
    margin: 1rem auto;
  }

  .highlights {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto 5% auto;
    padding: 5% 0%;
  }

  .highLights-img {
    width: 80%;
  }

  .highlights p {
    width: 80%;
  }

  .player {
    padding: 0.5rem;
  }

  th {
    padding: 1rem 0.7rem;
  }

  td {
    font-size: 0.7rem;
    padding: 0.6rem auto;
  }

  footer {
    padding: 1.5rem;
  }
}

@media screen and (max-width: 500px) {
  .banner {
    height: 30vh;
  }

  #logo-banner {
    padding: 1.1rem;
    font-size: 2rem;
  }

  .nav {
    display: none;
  }

  .dropdown-nav {
    display: flex;
  }

  .modal {
    width: 45%;
    padding: 2rem 3.5rem 2rem 2rem;
  }

  .highlights {
    width: 90%;
  }

  .player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 0 auto 5% auto;
    padding: 5% 0%;
  }

  .photo {
    max-height: 6rem;
    margin-bottom: 5%;
  }

  .country-code {
    font-size: 1rem;
  }

  table {
    margin: 2% auto;
  }

  th {
    padding: 0.6rem 0.3rem;
    font-size: 0.5rem;
  }

  td {
    font-size: 0.6rem;
    padding: 0.5rem 0rem;
  }

  footer {
    padding: 1.2rem;
  }

  footer a {
    font-size: 0.9rem;
  }

  footer p {
    font-size: 0.7rem;
    margin: 0.5rem auto;
  }
}
